.burger-Top {
  background-color: rgb(175, 91, 42);
  border-radius: 70px 70px 0 0;
  width: 400px;
  height: 100px;
  margin-bottom: 5px;
}
.burger-Bottom {
  background-color: rgb(175, 91, 42);
  border-radius: 0px 0px 70px 70px;
  width: 400px;
  height: 100px;
  margin-top: 5px;
}
.salad {
  background-color: green;
  border-radius: 5px;
  width: 400px;
  height: 10px;
  margin: 5px 0;
}
.chesse {
  background-color: rgb(241, 230, 68);
  border-radius: 5px;
  width: 400px;
  height: 15px;
  margin: 5px 0;
}
.beef {
  background-color: rgba(109, 25, 25, 0.979);
  border-radius: 5px;
  width: 400px;
  height: 20px;
  margin: 5px 0;
}
